APP_MODE=offline
APP_PUBLIC_PORT=8080
FRONTEND_PORT=8080
BACKEND_PORT=3001

DB_HOST=127.0.0.1
DB_PORT=8489
DB_NAME=zs_offline
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

NODE_EXE=runtime\node\node.exe
NPM_EXE=runtime\node\npm.cmd
BACKEND_ENTRY=dist/main.js
BACKEND_BOOTSTRAP_CMD=runtime\node\node.exe dist/database/migrate.js up

ENABLE_BOOTSTRAP_ADMIN=true
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=ZsPortable@2026!
